<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name=”description” content="佐渡汽船をご利用のお客様へ快適な船旅をご提供いたします。フェリーやジェットフォイルの時刻表・運航状況・予約などの情報掲載。">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@sadokisen_0203" />
<meta property="og:url" content="https://www.sadokisen.co.jp" />
<meta property="og:title" content="佐渡汽船公式サイト | 佐渡汽船の公式情報を提供しています。" />
<meta property="og:image" content="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/ogp_9674c85d.png">
<meta property="og:description" content="佐渡汽船をご利用のお客様へ快適な船旅をご提供いたします。フェリーやジェットフォイルの時刻表・運航状況・予約などの情報掲載。" />
<meta name="google-site-verification" content="954ZzH13gf35BHA6QDk6GEAXW5GOdsXKAS1RoZ_d1uQ" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,500|Noto+Serif+JP:300,400,500&display=swap&subset=japanese" rel="stylesheet">
<link rel="apple-touch-icon" sizes="152x152" href="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/apple-touch-icon_48846f6d.png">
<title>佐渡コーディングブートキャンプ</title>
<link rel='dns-prefetch' href='//www.google.com' />
<link rel='dns-prefetch' href='//yubinbango.github.io' />
<link rel='dns-prefetch' href='//s.w.org' />
<script type="text/javascript">
  window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.sadokisen.co.jp\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.19"}};
        !function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])?!1:!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55358,56760,9792,65039],[55358,56760,8203,9792,65039])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
  img.wp-smiley,
  img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
  }
</style>
<link rel='stylesheet' id='contact-form-7-css' href='https://www.sadokisen.co.jp/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.9' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-confirm-css' href='https://www.sadokisen.co.jp/wp-content/plugins/contact-form-7-add-confirm/includes/css/styles.css?ver=5.1' type='text/css' media='all' />
<link rel='stylesheet' id='slick-css' href='https://www.sadokisen.co.jp/wp-content/themes/klee-official/resources/assets/slick/slick.css?ver=4.9.19' type='text/css' media='all' />
<link rel='stylesheet' id='slick-theme-css' href='https://www.sadokisen.co.jp/wp-content/themes/klee-official/resources/assets/slick/slick-theme.css?ver=4.9.19' type='text/css' media='all' />
<link rel='stylesheet' id='aos-css' href='https://www.sadokisen.co.jp/wp-content/themes/klee-official/resources/assets/aos/aos.css?ver=4.9.19' type='text/css' media='all' />
<link rel='stylesheet' id='fontawsome-css' href='https://www.sadokisen.co.jp/wp-content/themes/klee-official/resources/assets/font-awesome-4.7.0/css/font-awesome.min.css?ver=4.9.19' type='text/css' media='all' />
<link rel='stylesheet' id='sage/home.css-css' href='https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/styles/home_3bcd768e.css' type='text/css' media='all' />
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-content/themes/klee-official/resources/assets/aos/aos.js?ver=4.9.19'></script>
<link rel='https://api.w.org/' href='https://www.sadokisen.co.jp/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.sadokisen.co.jp/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.sadokisen.co.jp/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.9.19" />
<style type="text/css">
  .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
</style>
<link rel="icon" href="https://www.sadokisen.co.jp/wp-content/uploads/2019/02/a75ac45572e7d4ecb61915d8aa8ae5a0.png" sizes="32x32" />
<link rel="icon" href="https://www.sadokisen.co.jp/wp-content/uploads/2019/02/a75ac45572e7d4ecb61915d8aa8ae5a0.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://www.sadokisen.co.jp/wp-content/uploads/2019/02/a75ac45572e7d4ecb61915d8aa8ae5a0.png" />
<meta name="msapplication-TileImage" content="https://www.sadokisen.co.jp/wp-content/uploads/2019/02/a75ac45572e7d4ecb61915d8aa8ae5a0.png" />
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5J5QL3');
</script>
</head>
<body class="home blog wp-custom-logo boarding-top-template app-data index-data home-data front-page-data">
  <header id="header" class="header">
  <div class="container">
    <div class="items-left">
      <h1> <a class="logo" href="https://www.sadokisen.co.jp">
                                  <img class="logo-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_white_96b6f0ba.svg" alt="佐渡汽船">
                  <img class="logo-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_64af3395.svg" alt="佐渡汽船">
                          </a> </h1>
      <nav class="navigation">
        <div class="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-container">
          <ul id="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-1" class="menu-items">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="https://www.sadokisen.co.jp/reservation/">予約/空席状況</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2188"><a href="/fares/car-ferry">運賃表</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="https://www.sadokisen.co.jp/timetables/">時刻表</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="items-right"> <a class="button btn-trip-top" href="/trip-top">
      <img class="img-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_white_ba6867ef.svg">
      <img class="img-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_1c5c9b12.svg" style="display:none">
    </a>
      <a class="button btn-reservation" href="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0400.aspx?Lang=ja-JP">
        <p class="sub-label">乗船券を</p>
        <p class="primary-label">ネット予約</p>
      </a>
    </div>
  </div>
  </header>
  <header id="floating-header" class="header header-fill">
  <div class="container">
    <div class="items-left">
      <h1> <a class="logo" href="https://www.sadokisen.co.jp">
                                  <img class="logo-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_white_96b6f0ba.svg" alt="佐渡汽船">
                  <img class="logo-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_64af3395.svg" alt="佐渡汽船">
                          </a> </h1>
      <nav class="navigation">
        <div class="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-container">
          <ul id="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-2" class="menu-items">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="https://www.sadokisen.co.jp/reservation/">予約/空席状況</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2188"><a href="/fares/car-ferry">運賃表</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="https://www.sadokisen.co.jp/timetables/">時刻表</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="items-right"> <a class="button btn-trip-top" href="/trip-top">
      <img class="img-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_white_ba6867ef.svg">
      <img class="img-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_1c5c9b12.svg" style="display:none">
    </a>
      <a class="button btn-reservation" href="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0400.aspx?Lang=ja-JP">
        <p class="sub-label">乗船券を</p>
        <p class="primary-label">ネット予約</p>
      </a>
    </div>
  </div>
  </header>
  <main class="main" role="document"> 
    <section class="boarding-eyecatch hero">
      <div class="background-container">
        <div class="background" style="background-image: url(https://www.sadokisen.co.jp/wp-content/uploads/2019/02/eyecatch01.jpg)" data-eyecatch-duration="5000" data-eyecatch-image-1="https://www.sadokisen.co.jp/wp-content/uploads/2019/02/eyecatch01.jpg" data-eyecatch-image-2="https://www.sadokisen.co.jp/wp-content/uploads/2020/08/4e6ad9809408387ce7a4feba39569b38.jpg" data-eyecatch-image-3="https://www.sadokisen.co.jp/wp-content/uploads/2019/12/c5ac2818e0d97f7591e8ffeed82a7eb2_compress.jpg"></div>
      </div>
      <div class="service-status-mobile service-status">
        <p class="service-status-text"> </p>
      </div>
      <div class="section">
        <div class="description">
          <div class="description-circle">
            <figure class="blur-background">
              <div class="blur-img" style="background-image: url(https://www.sadokisen.co.jp/wp-content/uploads/2019/02/eyecatch01.jpg)"></div>
            </figure>
            <div class="alpha-overlay"></div>
            <div class="container">
              <p class="text"> ご利用の皆様へ<br /> <br /> 2/7に各種発表を行いましたが、当面の運航計画に変更はありませんので安心してご利用ください。 <a href="https://corporate.sadokisen.co.jp/ir/for-stockholders/">詳しく見る</a> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="wave">
        <div class="container">
          <div class="service-status">
            <p class="service-status-text"> </p>
          </div>
          <div class="controls">
            <a class="kl-button is-medium" href="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0420.aspx?Lang=ja-JP">会員ログイン</a> 
            </div> 
            <a class="mobile-scroll down-scroll" href="#scroll-bottom">
        <span class="scroll-text">
          下にスクロール
        </span>
        <img class="floating" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/pict_caret@2x_62818e92.png" style="margin-bottom: 8.36506px;">
      </a> </div>
        <div id="scroll-bottom"></div>
      </div>
      <script>
        jQuery(function($) {
            let $eyecatchBG = $('.boarding-eyecatch .background');
            let $blurEyecatchBG = $('.boarding-eyecatch .description .blur-img');
            let $description = $('.boarding-eyecatch .description .text');
    
            // duration
            let duration = 10000;
            if ($eyecatchBG.attr('data-eyecatch-duration')) {
              duration = $eyecatchBG.attr('data-eyecatch-duration');
            }
    
            // image
            let images = [];
            if ($eyecatchBG.attr('data-eyecatch-image-1')) {
              images.push($eyecatchBG.attr('data-eyecatch-image-1'));
            }
            if ($eyecatchBG.attr('data-eyecatch-image-2')) {
              images.push($eyecatchBG.attr('data-eyecatch-image-2'));
            }
            if ($eyecatchBG.attr('data-eyecatch-image-3')) {
              images.push($eyecatchBG.attr('data-eyecatch-image-3'));
            }
    
            // bgSwitcher
            let $backgrounds = $('.boarding-eyecatch .background');
            let $blurs = $('.boarding-eyecatch .description .blur-img');
    
            const lazyStartTime = 3000;
            setTimeout(lazyStart, lazyStartTime);
            function lazyStart() {
              // imageSwitcher
              $backgrounds.bgSwitcher({
                  images: images,
                  effect: "fade",
                  start: false
              });
              $blurs.bgSwitcher({
                  images: images,
                  effect: "fade",
                  start: false
              });
              let imageCount = 0;
              let imageTid = setTimeout(switchImage, 0);
              function switchImage() {
                $backgrounds.bgSwitcher('select', imageCount);
                $blurs.bgSwitcher('select', imageCount);
                imageCount++;
                if(imageCount >= images.length) {
                  imageCount = 0;
                }
                imageTid = setTimeout(switchImage, duration);
              }
              
              // textSwitcher
              $descriptions = $('.boarding-eyecatch .description .text');
              let textCount = 0;
              let textTid = setTimeout(switchTextFirst, 0);
              function switchTextFirst() {
                textCount++;
                if(textCount >= $descriptions.length) {
                  textCount = 0;
                }
                textTid = setTimeout(switchText, duration);
              }
              function switchText() {
                $descriptions.addClass('hide');
                $descriptions.removeClass('fadein');
                $descriptions.eq(textCount).removeClass('hide');
                $descriptions.eq(textCount).addClass('fadein');
                textCount++;
                if(textCount >= $descriptions.length) {
                  textCount = 0;
                }
                textTid = setTimeout(switchText, duration);
              }
            }
          });
      </script>
    </section>
    <section class="mobile-top-menu section">
      <div class="important-buttons">
        <a class="button btn-reservation" href="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0400.aspx?Lang=ja-JP">
          <p class="sub-label">乗船券を</p>
          <p class="primary-label">ネット予約</p>
        </a> <a class="button btn-trip-top" href="/trip-top">
            <img class="logo-image" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadotabi_logo_white_9a877813.png">
          </a> </div>
      <div class="menu">
        <div class="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-container">
          <ul id="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc" class="menu-items">
            <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="https://www.sadokisen.co.jp/service-status/">運航状況</a></li>
            <li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="https://www.sadokisen.co.jp/reservation/">予約/空席状況</a></li>
            <li id="menu-item-2188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2188"><a href="/fares/car-ferry">運賃表</a></li>
            <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="https://www.sadokisen.co.jp/timetables/">時刻表</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="reservation-news section">
      <div class="container">
        <div class="content">
          <div class="reservation">
            <p class="decoration">Reservation</p>
            <h3 class="title">乗船予約</h3>
            <div class="reservation-content">
              <div id="top-boarding-reservation" class="top-boarding-reservation">
                <div class="controls">
                  <div class="control">
                    <div class="control-label"> <span class="label">往復/片道</span><span class="empty"></span> </div>
                    <div class="kl-select"> <select name="ways">
                    <option value="1">往復</option>
                    <option value="2">片道</option>
                </select> </div>
                  </div>
                  <div class="control">
                    <div class="control-label"> <span class="label">人数</span><span class="empty"></span> </div>
                    <div class="control-number-of-people">
                      <div class="number-control adult">
                        <div class="sub-labels">
                          <p class="sub-label">大人</p>
                          <p class="sub-desc"></p>
                        </div> <input type=number min="0" max="100" name="adult" value='' placeholder='0'> <span class="count">名</span> </div>
                      <div class="number-control adult">
                        <div class="sub-labels">
                          <p class="sub-label">子供</p>
                          <p class="sub-desc">小学生対象</p>
                        </div> <input type=number min="0" max="100" name="child" value='' placeholder='0'> <span class="count">名</span> </div>
                    </div>
                  </div>
                  <div class="control control-forward_port">
                    <div class="control-label"> <span class="label">行き&#047;乗船港</span><span class="empty"></span> </div>
                    <div class="kl-select"> <select name="forward_port">
                    <option value="">選択して下さい</option>
                    <option value="N">新潟</option>
                    <option value="R">両津</option>
                    <option value="NA">直江津</option>
                    <option value="O">小木</option>
                </select> </div>
                  </div>
                  <div class="control control-backward_port">
                    <div class="control-label"> <span class="label">帰り&#047;乗船港</span><span class="empty"></span> </div>
                    <div class="kl-select"> <select name="backward_port">
                    <option value="">選択して下さい</option>
                    <option value="N">新潟</option>
                    <option value="R">両津</option>
                    <option value="NA">直江津</option>
                    <option value="O">小木</option>
                </select> </div>
                  </div>
                  <div class="control control-forward_date">
                    <div class="control-label"> <span class="label">往路乗船日</span><span class="empty"></span> </div> <input type="date" name="forward_date" value="2022-02-16" min="2022-02-16" max="2022-05-15"> </div>
                  <div class="control control-backward_date">
                    <div class="control-label"> <span class="label">復路乗船日</span><span class="empty"></span> </div> <input type="date" name="backward_date" value="2022-02-16" min="2022-02-16" max="2022-05-24"> </div>
                </div> <button id="top-boarding-reservation-btn" class="kl-button is-medium" data-reservation-link="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0400.aspx?Lang=ja-JP">予約する</button>
                <p id="warning-message" class="warning-message"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= render "commons/footer" %>
</body>