<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wm/webmember.css" type="text/css">
  <title> 登録完了　～佐渡汽船～ </title>
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wm/wmg0060.css" type="text/css">
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/commonWJ.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/kk/common.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/kk/webkaiin.js"></script>
  <meta http-equiv="Content-Language" content="ja">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){
        history.pushState(null, null, null);
        $(window).on("popstate", function(){
            history.pushState(null, null, null);
        });
    });
  </script>
</head>
<body class="FontNotoSans">
  <form name="aspnetForm" method="post" action="WMG0060WebForm.aspx" id="aspnetForm">
    <div> <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTE2NDczMjk2Ng9kFgJmD2QWAgIDD2QWDgIDDxYCHgdWaXNpYmxlaGQCBw9kFgJmD2QWAmYPZBYEAgEPDxYCHgRUZXh0BQ4v55m95LqVIOe/lOWkp2RkAgIPDxYCHwEFA+anmGRkAgkPDxYCHwEFDOeZu+mMsuWujOS6hmRkAg8PZBYUAgEPDxYCHwEFUeOBiuWuouanmOOBruaDheWgseOCkuS9kOa4oeaxveiIueS8muWToeOCteODvOODk+OCueOBuOeZu+mMsuOBhOOBn+OBl+OBvuOBl+OBn+OAgmRkAgMPZBYCAgEPDxYCHwEFiwLjgYrlrqLmp5jjga7kvJrlk6Hnlarlj7fjga/jgIHkuIvoqJjjga7nlarlj7fjgavjgarjgorjgb7jgZnjgII8YnIgLz7jgqTjg7Pjgr/jg7zjg43jg4Pjg4jkuojntITjga7pmpvjgarjganjgIHkvJrlk6HjgrXjg7zjg5PjgrnjgpLjgZTliKnnlKjjga7pmpvjga/jgIHkvJrlk6Hnlarlj7fjga7lhaXlipvjgYzlv4XopoHjgajjgarjgorjgb7jgZnjga7jgac8YnIgLz7ooajnpLrjgZXjgozjgabjgYTjgovkvJrlk6Hnlarlj7fjgpLjgYrmjqfjgYjkuIvjgZXjgYTjgIJkZAIFD2QWAgIBDw8WAh8BBQ/ilqDms6jmhI/kuovpoIVkZAIHD2QWAgIBDw8WAh8BBbUC44GK5a6i5qeY44GM44GU55m76Yyy44GV44KM44Gf44Oh44O844Or44Ki44OJ44Os44K55a6b44Gr44CB5Lya5ZOh55m76Yyy5a6M5LqG44Oh44O844Or44KS6YCB5LuY44GE44Gf44GX44G+44GX44Gf44CCPGJyIC8+5byV44GN57aa44GN44CB5LmX6Ii55LqI57SE44KS44GV44KM44KL44GK5a6i5qeY44Gv44CB5Lya5ZOh55m76Yyy5a6M5LqG44Oh44O844Or44Gu5Y+X5L+h44KS56K66KqN44GV44KM44Gf5LiK44Gn44CBPGJyIC8+44Kk44Oz44K/44O844ON44OD44OI5LqI57SE44K344K544OG44Og44KS44GU5Yip55So5LiL44GV44GE44CCZGQCCQ9kFgJmD2QWBGYPZBYCZg8PFgIfAQUV44GK5a6i5qeY5Lya5ZOh55Wq5Y+3ZGQCAQ9kFgJmDw8WAh8BBQdwNzY0MjYwZGQCCw9kFgYCAQ8PFgYfAQUh5Lya5ZOh44K144O844OT44K544Oh44OL44Ol44O844G4HgdUb29sVGlwBSHkvJrlk6HjgrXjg7zjg5Pjgrnjg6Hjg4vjg6Xjg7zjgbgfAGhkZAIDDw8WBh8BBSjjgqTjg7Pjgr/jg7zjg43jg4Pjg4jkuojntIQg44Oh44OL44Ol44O8HwIFKOOCpOODs+OCv+ODvOODjeODg+ODiOS6iOe0hCDjg6Hjg4vjg6Xjg7wfAGdkZAIFDw8WBh8BBSHkvZDmuKHmsb3oiLnjg4jjg4Pjg5fjg5rjg7zjgrjjgbgfAgUh5L2Q5rih5rG96Ii544OI44OD44OX44Oa44O844K444G4HwBnZGQCDQ8PFgIfAQVU5L2Q5rih5rG96Ii55Lya5ZOh44K144O844OT44K544Gr6Zai44GZ44KL44GK5ZWP44GE5ZCI44KP44Gb44Gv44GT44Gh44KJ44G+44GnPGJyIC8+ZGQCDw8PFgIfAQU8Jm5ic3A7Jm5ic3A7Jm5ic3A7Jm5ic3A744GK5ZWP44GE5ZCI44KP44Gb5YWI77yaMDI1LTI0NS02MTIyZGQCEQ8PFgIfAGhkZAIVDxYCHgVWYWx1ZQUHV0tHMDUwMGQCEQ8WAh8BBYYB44Kk44Oz44K/44O844ON44OD44OI5LqI57SE44Gr6Zai44GZ44KL44GK5ZWP44GE5ZCI44KP44Gb5YWI77ya5L2Q5rih5rG96Ii55LqI57SE44K744Oz44K/44O8Jm5ic3A7Jm5ic3A7VEVMOjAyNS0yNDUtNjEyMigwODozMC0xODowMClkAhMPFgIfAQUGJm5ic3A7ZAIVDxYCHwEFOkNvcHlyaWdodCAoQykgU2FkbyBTdGVhbSBTaGlwIENPLixMVEQuQWxsIFJpZ2h0cyBSZXNlcnZlZC5kZF5a/PclDAhtOM4B2mJ0Y5U8qgXTwOk1dilsdzbk0+UK"> </div>
    <div> <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="14B1275B"> <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAATSz0mnyPTMwl2WCVphAKMAO45Gg50chXBilwvBkPEuOHlg/FWbzD67Aua3X4nP3cqwBvPa9WUMwTJLrC5d6a0foGp85a33nkAy4q1/3ytvFUzsBgzHY05zN4+3lsRqQAs="> </div>
    <div class="PageHeader">
      <table class="HeaderTitleArea">
        <tbody>
          <tr>
            <td style="padding-left:28px;"> <img id="ctl00_imgLogo" src="https://reservation.sadokisen.co.jp/webyoyaku/image/logo.gif" alt="佐渡汽船ロゴイメージ" style="border-width:0px;"> </td>
            <td align="right">
              <!-- 表示言語選択 -->
            </td>
          </tr>
          <tr>
            <td class="SiteTitle"> <span id="ctl00_lblPageTitle">インターネット予約</span> </td>
          </tr>
        </tbody>
      </table>
      <table id="ctl00_tblLoginUser" class="LoginUser" border="0">
        <tbody>
          <tr>
            <td id="ctl00_tcLoginNm"><span id="ctl00_lblLogin">ログイン</span><span id="ctl00_lblLoginName">/白井 翔大</span><span id="ctl00_lblKeisho">様</span></td>
          </tr>
        </tbody>
      </table>
      <div class="ApplicationName"> <span id="ctl00_lblApplicationName">登録完了</span> </div>
    </div>
    <div class="PageBody">
      <!-- エラーメッセージ表示エリア -->
      <!-- 情報メッセージ表示エリア -->
      <!-- コンテンツエリア -->
      <div class="TitleArea"> <span id="ctl00_ContentPlaceHolder1_lbl1" class="TitleLabel">お客様の情報を佐渡汽船会員サービスへ登録いたしました。</span><br><br> </div>
      <div id="ctl00_ContentPlaceHolder1_divLabel2" class="CommonMessage"> <span id="ctl00_ContentPlaceHolder1_lbl2">お客様の会員番号は、下記の番号になります。<br>インターネット予約の際など、会員サービスをご利用の際は、会員番号の入力が必要となりますので<br>表示されている会員番号をお控え下さい。</span> </div>
      <div id="ctl00_ContentPlaceHolder1_divChuiJiko" class="ChuiJiko"> <span id="ctl00_ContentPlaceHolder1_lblChuijiko">■注意事項</span> </div>
      <div id="ctl00_ContentPlaceHolder1_divLabel3" class="CommonMessage"> <span id="ctl00_ContentPlaceHolder1_lbl3">お客様がご登録されたメールアドレス宛に、会員登録完了メールを送付いたしました。<br>引き続き、乗船予約をされるお客様は、会員登録完了メールの受信を確認された上で、<br>インターネット予約システムをご利用下さい。</span> </div>
      <table id="ctl00_ContentPlaceHolder1_tblMailAddress" class="KaiinBangoArea" border="0">
        <tbody>
          <tr>
            <td class="KainnJohoColumn"><span id="ctl00_ContentPlaceHolder1_lblKaiinNo">お客様会員番号</span></td>
            <td class="KainnJohoMain"><span id="ctl00_ContentPlaceHolder1_lblKaiinNoValue">p764260</span></td>
          </tr>
        </tbody>
      </table>
      <div id="ctl00_ContentPlaceHolder1_divButtonArea" class="ButtonArea"> <input type="submit" name="ctl00$ContentPlaceHolder1$btnYoyaku" value="インターネット予約 メニュー" id="ctl00_ContentPlaceHolder1_btnYoyaku" title="インターネット予約 メニュー" class="ButtonBlue"> <input type="submit" name="ctl00$ContentPlaceHolder1$btnSadokisenHP" value="佐渡汽船トップページへ" id="ctl00_ContentPlaceHolder1_btnSadokisenHP" title="佐渡汽船トップページへ" class="ButtonBlue"> </div>
      <div class="CommonMessage" style="margin-bottom:48px;"> <span>
                <span id="ctl00_ContentPlaceHolder1_lblToiawase">佐渡汽船会員サービスに関するお問い合わせはこちらまで<br></span> <span style="font:15px;">
                    <span id="ctl00_ContentPlaceHolder1_lblToiawaseSaki">&nbsp;&nbsp;&nbsp;&nbsp;お問い合わせ先：025-245-6122</span> </span> <span><br></span> </span>
      </div>
    </div>
    <div class="PageFooter"> インターネット予約に関するお問い合わせ先：佐渡汽船予約センター&nbsp;&nbsp;TEL:025-245-6122(08:30-18:00) <br>
      <font color="red">&nbsp;</font> <br> Copyright (C) Sado Steam Ship CO.,LTD.All Rights Reserved.</div> <input type="hidden" name="ctl00$hidRegional" id="ctl00_hidRegional" value="ja-JP"> </form>
  <script type="text/javascript">
    //<![CDATA[
    	readystate = true;
    //]]>
  </script>
</body>