<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_head">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="ja" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico" />
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5J5QL3');
  </script>
  <!-- End Google Tag Manager -->
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wj/wjg0000.css" type="text/css" />
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/controls/josenYoyakuProgress.css" type="text/css" />
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/commonWJ.js?ver=20170703"></script>
  <title> インターネット予約：ログイン ～佐渡汽船～ </title>
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wj/wjg0420.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){
        history.pushState(null, null, null);
        $(window).on("popstate", function(){
            history.pushState(null, null, null);
        });
    });
  </script>
</head>
<body id="ctl00_JosenYoyaku" class="JosenYoyaku">
  <!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J5QL3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <form name="aspnetForm" method="post" action="./WJG0420.aspx?Lang=ja-JP&amp;_ga=2.48684388.350034532.1644998245-380420279.1644998245" id="aspnetForm" class="FontNotoSans">
    <div> <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" /> <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" /> <input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="" /> <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJODkyOTMzNDgzDxYCHhNWYWxpZGF0ZVJlcXVlc3RNb2RlAgEWAmYPD2QWCB4OU2VydmljZU1lc3NhZ2VlHglIZWFkZXJLYm4FATEeC0hlYWRlclRpdGxlBQzjg63jgrDjgqTjg7MeB01lbnVNZWkFEuS8muWToeODreOCsOOCpOODsxYEAgEPZBYCAgYPFgIeBFRleHQFqQM8IS0tIEdvb2dsZSBUYWcgTWFuYWdlciAtLT4NCjxzY3JpcHQ+KGZ1bmN0aW9uKHcsZCxzLGwsaSl7d1tsXT13W2xdfHxbXTt3W2xdLnB1c2goeydndG0uc3RhcnQnOg0KbmV3IERhdGUoKS5nZXRUaW1lKCksZXZlbnQ6J2d0bS5qcyd9KTt2YXIgZj1kLmdldEVsZW1lbnRzQnlUYWdOYW1lKHMpWzBdLA0Kaj1kLmNyZWF0ZUVsZW1lbnQocyksZGw9bCE9J2RhdGFMYXllcic/JyZsPScrbDonJztqLmFzeW5jPXRydWU7ai5zcmM9DQonaHR0cHM6Ly93d3cuZ29vZ2xldGFnbWFuYWdlci5jb20vZ3RtLmpzP2lkPScraStkbDtmLnBhcmVudE5vZGUuaW5zZXJ0QmVmb3JlKGosZik7DQp9KSh3aW5kb3csZG9jdW1lbnQsJ3NjcmlwdCcsJ2RhdGFMYXllcicsJ0dUTS01SjVRTDMnKTs8L3NjcmlwdD4NCjwhLS0gRW5kIEdvb2dsZSBUYWcgTWFuYWdlciAtLT4NCmQCAw9kFgYCAQ8WAh8FBfYBPCEtLSBHb29nbGUgVGFnIE1hbmFnZXIgKG5vc2NyaXB0KSAtLT4NCjxub3NjcmlwdD48aWZyYW1lIHNyYz0iaHR0cHM6Ly93d3cuZ29vZ2xldGFnbWFuYWdlci5jb20vbnMuaHRtbD9pZD1HVE0tNUo1UUwzIg0KaGVpZ2h0PSIwIiB3aWR0aD0iMCIgc3R5bGU9ImRpc3BsYXk6bm9uZTt2aXNpYmlsaXR5OmhpZGRlbiI+PC9pZnJhbWU+PC9ub3NjcmlwdD4NCjwhLS0gRW5kIEdvb2dsZSBUYWcgTWFuYWdlciAobm9zY3JpcHQpIC0tPg0KZAIFD2QWDAIBD2QWBgIBDw8WAh4LTmF2aWdhdGVVcmwFHGh0dHBzOi8vd3d3LnNhZG9raXNlbi5jby5qcC9kZAIFDw8WAh8FZWRkAgkPZBYCZg9kFgICAQ9kFgJmDxBkDxYCZgIBFgIQBQnml6XmnKzoqp4FBWphLUpQZxAFB0VuZ2xpc2gFBWVuLVVTZxYBZmQCAw9kFgYCAQ8PFgIfBWVkZAIDDw8WAh4HVmlzaWJsZWhkZAIJDw8WAh8FBRLkvJrlk6Hjg63jgrDjgqTjg7NkZAIFD2QWCgIBD2QWAmYPZBYCAg8PDxYCHwYFGH4vS0svV01HMDExMFdlYkZvcm0uYXNweGRkAgUPDxYCHwYFKn4vS0svV01HMDAyMFdlYkZvcm0uYXNweD9wPXNob3cmbG9naW49dHJ1ZWRkAgcPDxYEHwYFFX4v44GU5Yip55So5qGI5YaFLnBkZh4GVGFyZ2V0BQZfYmxhbmtkZAIJD2QWAmYPZBYCAgEPZBYCZg9kFgJmD2QWBAIHDzwrABEDAA8WBB4LXyFEYXRhQm91bmRnHgtfIUl0ZW1Db3VudAIDZAEQFgAWABYADBQrAAAWAmYPZBYKZg8PFgIfB2hkZAIBD2QWBGYPZBYCZg8VAQgyMDIyLjEuN2QCAQ9kFgJmDxUBjQPjgJDph43opoHjgarjgYrnn6XjgonjgZvjgJHvvJLvvJDvvJLvvJLlubTvvJTmnIjvvZ7vvJbmnIjjga7jgIznh4PmlpnmsrnkvqHmoLzlpInli5Xoqr/mlbTph5HjgI3jgavjgaTjgYTjgaY8YnIgLz7vvJLvvJDvvJLvvJLlubTvvJTmnIjvvZ7vvJbmnIjjga7jgIznh4PmlpnmsrnkvqHmoLzlpInli5Xoqr/mlbTph5HjgI3vvIjku6XkuIvjgIHoqr/mlbTph5HvvInjgYzmsbrlrprjgZfjgb7jgZfjgZ/jga7jgafjgIHjgYrnn6XjgonjgZvjgYTjgZ/jgZfjgb7jgZnjgII8YnIgLz7oqbPjgZfjgY/jga/jgIE8YSBocmVmPSJodHRwczovL3d3dy5zYWRva2lzZW4uY28uanAvP25ld3M9MjAyMjAxMDciIHRhcmdldD0iX2JsYW5rIj7jgZPjgaHjgok8L2E+44KS44GU56K66KqN44GP44Gg44GV44GE44CCZAICD2QWBGYPZBYCZg8VAQoyMDIxLjEyLjIwZAIBD2QWAmYPFQHbA+OAkOmHjeimgeOBquOBiuefpeOCieOBm+OAke+8ku+8kO+8ku+8kuW5tO+8lOaciOS7pemZjeOBruOCpOODs+OCv+ODvOODjeODg+ODiOS6iOe0hOODu+epuuW4reeKtuazgeOBrumWsuimp+OBq+OBpOOBhOOBpjxiciAvPu+8ku+8kO+8ku+8kuW5tO+8lOaciOS7pemZjeOBruS4gOmDqOWJsuW8lemBi+izg+OBjOaxuuWumuOBl+OBpuOBhOOBquOBhOOBn+OCgeOAgTxiciAvPu+8lOaciOS7pemZjeS5l+iIueWIhuOBruOCpOODs+OCv+ODvOODjeODg+ODiOS6iOe0hOOBiuOCiOOBs+epuuW4reeKtuazgeOBrumWsuimp+OCkuS4gOaZguWBnOatouOBleOBm+OBpuOBhOOBn+OBoOOBjeOBvuOBmeOAgjxiciAvPuips+OBl+OBj+OBr+OAgTxhIGhyZWY9Imh0dHBzOi8vd3d3LnNhZG9raXNlbi5jby5qcC8/bmV3cz0yMDIxMTIyMCIgdGFyZ2V0PSJfYmxhbmsiPuOBk+OBoeOCiTwvYT7jgpLjgZTnorroqo3jgY/jgaDjgZXjgYTjgII8YnIgLz5kAgMPZBYEZg9kFgJmDxUBCTIwMjEuMTIuMWQCAQ9kFgJmDxUBiATjgJDph43opoHjgarjgYrnn6XjgonjgZvjgJHvvJHnrYnpgYvos4PmlLnlrprjg7vlkITnqK7libLlvJXopovnm7TjgZfjgYrjgojjgbPvvJLvvJDvvJLvvJLlubTvvJHmnIjvvZ7vvJPmnIjjga7pgYvos4PjgavjgaTjgYTjgaY8YnIgLz7vvJHnrYnpgYvos4PmlLnlrprjg7vlkITnqK7libLlvJXopovnm7TjgZfjgYrjgojjgbPvvJLvvJDvvJLvvJLlubTvvJHmnIjvvZ7vvJPmnIjjga7pgYvos4PjgavjgaTjgYTjgabjgYrnn6XjgonjgZvjgYTjgZ/jgZfjgb7jgZnjgII8YnIgLz7jgb7jgZ/jgIHvvJLvvJDvvJLvvJLlubTvvJHmnIjku6XpmY3jgIHjgIzml6nlvpfjgY3jgaPjgbfjgI3jgIzjgbLjgovlibLjgY3jgaPjgbfjgI3jga/kuIDmmYLkvJHmraLjgYTjgZ/jgZfjgb7jgZnjgII8YnIgLz7oqbPjgZfjgY/jga/jgIE8YSBocmVmPSJodHRwczovL3d3dy5zYWRva2lzZW4uY28uanAvP25ld3M9MjAyMTExMTIiIHRhcmdldD0iX2JsYW5rIj7jgZPjgaHjgok8L2E+44KS44GU56K66KqN44GP44Gg44GV44GE44CCZAIEDw8WAh8HaGRkAgkPZBYCAgMPDxYCHwUFD+S4gOimp+OCkuimi+OCi2RkAgsPDxYCHwYFHGh0dHBzOi8vd3d3LnNhZG9raXNlbi5jby5qcC9kZAIHDw8WAh8FBYYB44Kk44Oz44K/44O844ON44OD44OI5LqI57SE44Gr6Zai44GZ44KL44GK5ZWP44GE5ZCI44KP44Gb5YWI77ya5L2Q5rih5rG96Ii55LqI57SE44K744Oz44K/44O8Jm5ic3A7Jm5ic3A7VEVMOjAyNS0yNDUtNjEyMigwODozMC0xODowMClkZAIJDxYCHwUFBiZuYnNwO2QCCw8PFgIfBQU6Q29weXJpZ2h0IChDKSBTYWRvIFN0ZWFtIFNoaXAgQ08uLExURC5BbGwgUmlnaHRzIFJlc2VydmVkLmRkAgcPFgIfBQXCBjxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0Ij4oZnVuY3Rpb24oZCx1KXt2YXIgYj1kLmdldEVsZW1lbnRzQnlUYWdOYW1lKCJzY3JpcHQiKVswXSxqPWQuY3JlYXRlRWxlbWVudCgic2NyaXB0Iik7ai5hc3luYz10cnVlO2ouc3JjPXU7Yi5wYXJlbnROb2RlLmluc2VydEJlZm9yZShqLGIpO30pKGRvY3VtZW50LCIvL2ltZy5hay5pbXBhY3QtYWQuanAvdXQvY2E5ZGY0N2Y0NjNjNDc1M18yNTgyLmpzIik7PC9zY3JpcHQ+PG5vc2NyaXB0PjxpZnJhbWUgc3JjPSIvL25zcHQudW5pdGFnLmpwL2NhOWRmNDdmNDYzYzQ3NTNfMjU4Mi5waHAiIHdpZHRoPSIwIiBoZWlnaHQ9IjAiIGZyYW1lYm9yZGVyPSIwIj48L2lmcmFtZT48L25vc2NyaXB0Pg0KPHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPg0KICAoZnVuY3Rpb24gKCkgew0KICAgIHZhciB0YWdqcyA9IGRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoInNjcmlwdCIpOw0KICAgIHZhciBzID0gZG9jdW1lbnQuZ2V0RWxlbWVudHNCeVRhZ05hbWUoInNjcmlwdCIpWzBdOw0KICAgIHRhZ2pzLmFzeW5jID0gdHJ1ZTsNCiAgICB0YWdqcy5zcmMgPSAiLy9zLnlqdGFnLmpwL3RhZy5qcyNzaXRlPWdnUGprNFUiOw0KICAgIHMucGFyZW50Tm9kZS5pbnNlcnRCZWZvcmUodGFnanMsIHMpOw0KICB9KCkpOw0KPC9zY3JpcHQ+DQo8bm9zY3JpcHQ+DQogIDxpZnJhbWUgc3JjPSIvL2IueWp0YWcuanAvaWZyYW1lP2M9Z2dQams0VSIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZnJhbWVib3JkZXI9IjAiIHNjcm9sbGluZz0ibm8iIG1hcmdpbmhlaWdodD0iMCIgbWFyZ2lud2lkdGg9IjAiPjwvaWZyYW1lPg0KPC9ub3NjcmlwdD4NCmQYAgUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFLWN0bDAwJFdlYkNvbnRlbnRQbGFjZUhvbGRlciRjaGtPc2hpcmFzZUl0aXJhbgUnY3RsMDAkV2ViQ29udGVudFBsYWNlSG9sZGVyJGdyZE9zaGlyYXNlDzwrAAwBCAIBZPlSa/7SelyfmfykRSsUG95Xw9t8uduBTKun47uJZbmo" /> </div>
    <script type="text/javascript">
      //<![CDATA[
      var theForm = document.forms['aspnetForm'];
      if (!theForm) {
          theForm = document.aspnetForm;
      }
      function __doPostBack(eventTarget, eventArgument) {
          if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
              theForm.__EVENTTARGET.value = eventTarget;
              theForm.__EVENTARGUMENT.value = eventArgument;
              theForm.submit();
          }
      }
      //]]>
    </script>
    <script src="https://reservation.sadokisen.co.jp/webyoyaku/WebResource.axd?d=tzGRY5LqxaqJh3lBjWak3kDY_QcAxzlYgLSvvutlBIbbpAR-y_6jqWAnu5sTjzzlcpeWc9is-q-Zp4LgfLYa1EwUX1-R54BAHXNlxvrp1b01&amp;t=636777048783889403" type="text/javascript"></script>
    <script src="https://reservation.sadokisen.co.jp/webyoyaku/ScriptResource.axd?d=vG0PG_JwTvYE6LY45VDpVWuh0YvKHvjbsWnRJAGqG-ul4Lewwmc7PVINjXvHMEuet2e_xvHwURgyJsa1pnl8gFbzMqDGxyUFgHtUDutLfYBQio3Le1_XQX907f2S_eirSPbbR9RWkJIzlW64pbqK9PXe6YASNxlGS4nBPEDNOtVuOCTEYrwTeNHKbzRoqfkf0&amp;t=ffffffff999c3159" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
      if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax クライアント側フレームワークを読み込めませんでした。');
      //]]>
    </script>
    <script src="/webyoyaku/ScriptResource.axd?d=IY7bglxz1482gls7PvRe99iBpEC9sygLuKXFvssS9Wt7xCKv9KLgj81f6VNMKVEqHg3ygIVcQffKtUaSO8G69ME1vj8mIDt_tBV1SjLCsy_CInXJad-C4rwgqfNY6QrrC2fIXrySEZ0OTmMnqFB1Znnte_uWApIw0dviRtXQKpD8H1t9ko0udZBszsdNchwK0&amp;t=ffffffff999c3159" type="text/javascript"></script>
    <div> <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="5412D7B4" /> <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAmWu5JpuwtdcNQe5C4xM0X7LSgcR95sQwxfTggKsu0NGxEOIm2Gr3bYIPEQojrN+w3JpivgPS/srJcyZlov4N9gdQdcKL3dWxReNfdqzqYqttoUex6K/jh6d6qQcyrOvhUKZYQWxI5rB3tatJaX3kmiZEU3N5eHV2FqEioQtL32cXgkley96k6A1J04OIB/E+BEHL8PiO45oAo0/ao1ffoMI2k5uq+T5yVLvrOoGWJt4Q==" /> </div>
    <div id="ctl00_divPageTitleArea" class="PageTitleArea">
      <div style="display:table;">
        <div style="display:table-cell;">
          <div id="divSadoKisenIcon" class="SadoKisenIcon"> <a id="ctl00_lnkTop" href="https://www.sadokisen.co.jp/">
                            <img alt="佐渡汽船Top" src="../image/logo.gif" title="佐渡汽船Top"/>
                        </a> </div>
          <div id="divPageTitle" class="PageTitle"> <span id="ctl00_lblPageTitle">インターネット予約</span> </div>
        </div>
        <div id="divServiceMessage" class="ServiceMessage"> <span id="ctl00_lblServiceMessage" class="Warning"></span>
          <a href="#">
            <script type="text/javascript">
              //<![CDATA[
              Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', ['tctl00$WebContentPlaceHolder$updLogin','','tctl00$WebContentPlaceHolder$updOshirase',''], [], [], 90, 'ctl00');
              //]]>
            </script>
          </a>
        </div>
      </div>
      <div id="divTitleAreaRight" class="TitleAreaRight">
        <div id="divLanguageChange">
          <table id="ctl00_tblLanguageChange" class="InputCellLanguage" border="0">
            <tr id="ctl00_trLanguageChange">
              <td id="ctl00_tdLanguage" class="LanguageText"><span id="ctl00_lblLanguage">Language</span></td>
              <td id="ctl00_tdLanguageChange" class="SelectWrapLanguage"><select name="ctl00$cboLanguage" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$cboLanguage\&#39;,\&#39;\&#39;)&#39;, 0)" id="ctl00_cboLanguage">
			<option selected="selected" value="ja-JP">日本語</option>
			<option value="en-US">English</option>

		</select></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="ctl00_divPageOverview" class="PageOverview">
      <div id="divLoginUser" class="LoginUser"> <span id="ctl00_lblLogin"></span> </div>
      <div id="divHayatokuTitle" class="HayatokuTitle"> </div>
      <div id="divProgresArea" class="ProgressFrame"> </div>
      <div id="divMenuMei" class="MenuMei"> <span id="ctl00_lblMenuMei">会員ログイン</span> </div>
    </div>
    <div id="divMain" class="MainContentArea">
      <div id="divWebContentPlaceHolder">
        <div id="ctl00_WebContentPlaceHolder_updLogin">
          <div id="divLoginArea" class="LoginArea">
            <div id="divLoginTitle" class="TitleArea"> <span id="ctl00_WebContentPlaceHolder_lblLoginTitle" class="TitleLabel">会員ログイン</span> </div>
            <div id="divLoginInputArea" class="InputTableFrame">
              <div id="divLoginMainArea">
                <div id="divLoginError"> <span id="ctl00_WebContentPlaceHolder_lblMsg" class="WarningMsg"></span> </div>
                <div id="divKaiinBangoArea">
                  <div class="ColumnTitle"> <span id="ctl00_WebContentPlaceHolder_lblKaiinBango">会員番号</span> </div>
                  <div> <input name="ctl00$WebContentPlaceHolder$txtKaiinBango" type="text" id="ctl00_WebContentPlaceHolder_txtKaiinBango" class="Input" placeholder="半角英数字で入力してください。" /> </div>
                </div>
                <div id="divPasswordArea">
                  <div class="ColumnTitle"> <span id="ctl00_WebContentPlaceHolder_lblPassword">パスワード</span> </div>
                  <div> <input name="ctl00$WebContentPlaceHolder$txtPassword" type="password" id="ctl00_WebContentPlaceHolder_txtPassword" class="Input" placeholder="半角英数字で入力してください。" /> </div>
                </div>
                <div id="divLoginButtonFrame"> <input type="submit" name="ctl00$WebContentPlaceHolder$btnLogin" value="ログイン" id="ctl00_WebContentPlaceHolder_btnLogin" class="ButtonBlue ButtonMainText" /> </div>
                <div id="divLinkKaiinPassword" class="fontHiragino KaiinPasswordLink"> <a id="ctl00_WebContentPlaceHolder_lnkKaiinPassword" href="../KK/WMG0110WebForm.aspx">会員番号・パスワードをお忘れですか？</a> </div>
              </div>
            </div>
          </div>
        </div>
        <div id="divKaiinKiyaku" class="KaiinKiyakuArea"> <span id="ctl00_WebContentPlaceHolder_lblKaiinKiyakuDirect" class="KaiinKiyakuTitle">インターネット予約サービス</span>
          <div id="divKiyakuLinkArea" class="KiyakuLinkArea">
            <div class="KiyakuCell"> <a id="ctl00_WebContentPlaceHolder_lnkKaiinKiyaku" href="../KK/WMG0020WebForm.aspx?p=show&amp;login=true"><span id="ctl00_WebContentPlaceHolder_lblKaiinKiyaku">利用規約</span><img id="ctl00_WebContentPlaceHolder_imgKaiinKiyaku" src="../image/icon_link.png" alt="link" style="border-width:0px;" /></a> </div>
            <div id="divYoyakuAnnai" class="KiyakuCell YoyakuAnnai"> <a id="ctl00_WebContentPlaceHolder_lnkYoyakuAnnai" href="../%E3%81%94%E5%88%A9%E7%94%A8%E6%A1%88%E5%86%85.pdf" target="_blank"><span id="ctl00_WebContentPlaceHolder_lblYoyakuAnnai">利用案内</span><img id="ctl00_WebContentPlaceHolder_imgYoyakuAnnai" src="../image/icon_link.png" alt="link" style="border-width:0px;" /></a> </div>
          </div>
        </div>
        <div id="ctl00_WebContentPlaceHolder_updOshirase">
          <table id="ctl00_WebContentPlaceHolder_tblNotice" class="Notice">
            <tr>
              <td style="color: #0848b8; text-align: center; vertical-align: top;">
                <div id="acdn-button" class="acdn-button-notice">お知らせを表示する<br /> <span id="acdn-button-arrow" class="acdn-button-arrow">▼</span> </div>
                <div id="acdn-target">
                  <div class="TitleArea" style="color: #9C9C9C; font-weight: bold; padding-top: 5px; margin-bottom: 5px;"> <img id="ctl00_WebContentPlaceHolder_imgOshirase" class="TitleIcon" src="../image/icon-shipfront.png" style="border-width:0px;" /> <span id="ctl00_WebContentPlaceHolder_lblOshiraseTitle" class="TitleLabel">乗船に関するお知らせ</span> </div>
                  <div>
                    <table cellspacing="0" rules="rows" border="2" id="ctl00_WebContentPlaceHolder_grdOshirase" style="background-color:White;border-color:#EEEEEE;border-width:2px;border-style:None;font-weight:normal;font-style:normal;text-decoration:none;border-collapse:collapse;margin-top: 0px; max-height: 999999px; text-align:left;">
                      <tr class="TestPagerClass">
                        <td class="Left Hizuke" valign="top"> <span class="HizukeLine"></span> 2022.1.7 </td>
                        <td class="Left OshiraseBunsho"> 【重要なお知らせ】２０２２年４月～６月の「燃料油価格変動調整金」について<br />２０２２年４月～６月の「燃料油価格変動調整金」（以下、調整金）が決定しましたので、お知らせいたします。<br />詳しくは、<a href="https://www.sadokisen.co.jp/?news=20220107" target="_blank">こちら</a>をご確認ください。 </td>
                      </tr>
                      <tr class="TestPagerClass">
                        <td class="Left Hizuke" valign="top"> <span class="HizukeLine"></span> 2021.12.20 </td>
                        <td class="Left OshiraseBunsho"> 【重要なお知らせ】２０２２年４月以降のインターネット予約・空席状況の閲覧について<br />２０２２年４月以降の一部割引運賃が決定していないため、<br />４月以降乗船分のインターネット予約および空席状況の閲覧を一時停止させていただきます。<br />詳しくは、<a href="https://www.sadokisen.co.jp/?news=20211220" target="_blank">こちら</a>をご確認ください。<br /> </td>
                      </tr>
                      <tr class="TestPagerClass">
                        <td class="Left Hizuke" valign="top"> <span class="HizukeLine"></span> 2021.12.1 </td>
                        <td class="Left OshiraseBunsho"> 【重要なお知らせ】１等運賃改定・各種割引見直しおよび２０２２年１月～３月の運賃について<br />１等運賃改定・各種割引見直しおよび２０２２年１月～３月の運賃についてお知らせいたします。<br />また、２０２２年１月以降、「早得きっぷ」「ひる割きっぷ」は一時休止いたします。<br />詳しくは、<a href="https://www.sadokisen.co.jp/?news=20211112" target="_blank">こちら</a>をご確認ください。 </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div id="ctl00_WebContentPlaceHolder_divOshiraseItiranHyoji" class="ItiranHyoji"> <span style="display:none;"><input id="ctl00_WebContentPlaceHolder_chkOshiraseItiran" type="checkbox" name="ctl00$WebContentPlaceHolder$chkOshiraseItiran" onclick="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$WebContentPlaceHolder$chkOshiraseItiran\&#39;,\&#39;\&#39;)&#39;, 0)" /></span> <label for="ctl00_WebContentPlaceHolder_chkOshiraseItiran" id="ctl00_WebContentPlaceHolder_lblOshiraseItiran" class="ItiranButton fontHiragino">一覧を見る</label> </div>
              </td>
            </tr>
          </table>
        </div> <br />
        <a id="ctl00_WebContentPlaceHolder_lnkSadokisenTopPage" class="TopPageBack" href="https://www.sadokisen.co.jp/" style="font-size:0.9em;">
          <div> <img id="ctl00_WebContentPlaceHolder_imgSadokisenTopPage" src="../image/arrowA.png" alt="arrow" style="border-width:0px;" /> </div>
          <div> <span id="ctl00_WebContentPlaceHolder_lblSadokisenTopPage">トップページに戻る</span> </div>
        </a> <br /> <br />
        <div class="Verisign">
          <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.sadokisen.co.jp&amp;size=M&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=ja"></script>
        </div>
      </div>
    </div>
    <div class="PageFooter fontHiragino"> <span id="ctl00_lblSadoSteamShipContact">インターネット予約に関するお問い合わせ先：佐渡汽船予約センター&nbsp;&nbsp;TEL:025-245-6122(08:30-18:00)</span><br /> <span style="color:red;">&nbsp;</span> <br /> <span id="ctl00_lblCopyright">Copyright (C) Sado Steam Ship CO.,LTD.All Rights Reserved.</span> <input type="hidden" name="ctl00$hidid" id="ctl00_hidid" value="01" /> </div>
  </form>
  <div id="divUtil"></div>
  <script type="text/javascript">
    //<![CDATA[
        readystate = true;
    //]]>
  </script>
  <script type="text/javascript">
    (function(d,u){var b=d.getElementsByTagName("script")[0],j=d.createElement("script");j.async=true;j.src=u;b.parentNode.insertBefore(j,b);})(document,"//img.ak.impact-ad.jp/ut/ca9df47f463c4753_2582.js");
  </script><noscript><iframe src="//nspt.unitag.jp/ca9df47f463c4753_2582.php" width="0" height="0" frameborder="0"></iframe></noscript>
  <script type="text/javascript">
    (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=ggPjk4U";
      s.parentNode.insertBefore(tagjs, s);
    }());
  </script> <noscript>
  <iframe src="//b.yjtag.jp/iframe?c=ggPjk4U" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript> </body>
</html>