<footer id="footer">
<h3 class="footer-part-logo"> <img src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/JP_sadokisenlogo_grey4_37e6e60b.svg"> </h3>
<div class="container info-menues">
  <div class="contents">
    <div class="footer-part menu">
      <div class="menus">
        <div class="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-container">
          <ul id="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc" class="menu-items">
            <li id="menu-item-1087" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1087"><a href="https://www.sadokisen.co.jp/reservation/">予約/空席状況</a></li>
            <li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="https://www.sadokisen.co.jp/timetables/">時刻表</a></li>
            <li id="menu-item-2187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2187"><a href="https://www.sadokisen.co.jp/faretables/">運賃表</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-part"> <span class="copyright"> &copy; 佐渡コーディングブートキャンプ. All Rights Reserved.</span> </div>
</div>
</footer>
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-includes/js/jquery/jquery.form.min.js?ver=4.2.1'></script>
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-content/plugins/contact-form-7-add-confirm/includes/js/scripts.js?ver=5.1'></script>
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-content/themes/klee-official/resources/assets/slick/slick.js?ver=4.9.19'></script>
<script type='text/javascript' src='https://yubinbango.github.io/yubinbango/yubinbango.js'></script>
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/scripts/home_3bcd768e.js'></script>
<script type='text/javascript' src='https://www.sadokisen.co.jp/wp-includes/js/wp-embed.min.js?ver=4.9.19'></script>