<header id="header" class="header">
<div class="container">
  <div class="items-left">
    <h1> <a class="logo" href="https://www.sadokisen.co.jp">
                                <img class="logo-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_white_96b6f0ba.svg" alt="佐渡汽船">
                <img class="logo-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_64af3395.svg" alt="佐渡汽船">
                        </a> </h1>
    <nav class="navigation">
      <div class="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-container">
        <ul id="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-1" class="menu-items">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="https://www.sadokisen.co.jp/reservation/">予約/空席状況</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2188"><a href="https://www.sadokisen.co.jp/faretables/">運賃表</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="https://www.sadokisen.co.jp/timetables/">時刻表</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="items-right"> <a class="button btn-trip-top" href="/trip-top">
    <img class="img-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_white_ba6867ef.svg">
    <img class="img-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_1c5c9b12.svg" style="display:none">
  </a>
    <a class="button btn-reservation" href="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0400.aspx?Lang=ja-JP">
      <p class="sub-label">乗船券を</p>
      <p class="primary-label">ネット予約</p>
    </a>
  </div>
</div>
</header>
<header id="floating-header" class="header header-fill">
<div class="container">
  <div class="items-left">
    <h1> <a class="logo" href="https://www.sadokisen.co.jp">
                                <img class="logo-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_white_96b6f0ba.svg" alt="佐渡汽船">
                <img class="logo-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/sadokisen_logo_64af3395.svg" alt="佐渡汽船">
                        </a> </h1>
    <nav class="navigation">
      <div class="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-container">
        <ul id="menu-%e4%b9%97%e8%88%b9%e4%ba%88%e7%b4%84top%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-2" class="menu-items">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="https://www.sadokisen.co.jp/reservation/">予約/空席状況</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2188"><a href="https://www.sadokisen.co.jp/faretables/">運賃表</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="https://www.sadokisen.co.jp/timetables/">時刻表</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="items-right"> <a class="button btn-trip-top" href="/trip-top">
    <img class="img-white" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_white_ba6867ef.svg">
    <img class="img-color" src="https://www.sadokisen.co.jp/wp-content/themes/klee-official/dist/images/jp_sadotabi_logo_1c5c9b12.svg" style="display:none">
  </a>
    <a class="button btn-reservation" href="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0400.aspx?Lang=ja-JP">
      <p class="sub-label">乗船券を</p>
      <p class="primary-label">ネット予約</p>
    </a>
  </div>
</div>
</header>
