<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wm/webmember.css" type="text/css" />
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wj/wjg0000.css" type="text/css" />
  <title> 会員サービス：メニュー　～佐渡汽船～ </title>
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wm/wmg0000.css" type="text/css">
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/commonWJ.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/kk/common.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/kk/webkaiin.js"></script>
  <meta http-equiv="Content-Language" content="ja">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){
        history.pushState(null, null, null);
        $(window).on("popstate", function(){
            history.pushState(null, null, null);
        });
    });
  </script>
</head>
<body class="FontNotoSans">
  <form name="aspnetForm" method="post" action="./WMG0000WebForm.aspx" id="aspnetForm">
    <div> <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTY2MzUyMzYxNg9kFgJmD2QWAgIDD2QWDgIDDxYCHgdWaXNpYmxlaGQCBw9kFgJmD2QWAmYPZBYEAgEPDxYCHgRUZXh0BQ4v55m95LqVIOe/lOWkp2RkAgIPDxYCHwEFA+anmGRkAgkPDxYCHwEFEuS8muWToeODoeODi+ODpeODvGRkAg8PZBYUAgMPDxYCHwEFM+S7peS4i+OBruODoeODi+ODpeODvOOBi+OCiemBuOaKnuOBl+OBpuS4i+OBleOBhOOAgmRkAgUPDxYCHwEFHuS8muWToeaDheWgseOBrueiuuiqjeODu+WkieabtGRkAgcPDxYCHwEFVOOBiuWuouanmOOBjOeZu+mMsuOBleOCjOOBn+S8muWToeaDheWgseOAgei7iuS4oeaDheWgseOCkueiuuiqjeODu+WkieabtOOBl+OBvuOBmeOAgmRkAgkPDxYCHwEFGOODkeOCueODr+ODvOODieOBruWkieabtGRkAgsPDxYCHwEFJOODkeOCueODr+ODvOODieOCkuWkieabtOOBl+OBvuOBmeOAgmRkAg0PDxYCHwEFDOS5l+iIueWxpeattGRkAg8PDxYCHwEFPOOBiuWuouanmOOBruS9kOa4oeaxveiIueOBlOWIqeeUqOWxpeattOOCkueiuuiqjeOBl+OBvuOBmeOAgmRkAhEPDxYCHwEFD+mAgOS8muaJi+e2muOBjWRkAhMPDxYCHwEFM+S9kOa4oeaxveiIueS8muWToeOBrumAgOS8muaJi+e2muOBjeOCkuOBl+OBvuOBmeOAgmRkAhUPDxYCHwEFKuOCpOODs+OCv+ODvOODjeODg+ODiOS6iOe0hOODoeODi+ODpeODvOOBuGRkAhEPFgIfAQWGAeOCpOODs+OCv+ODvOODjeODg+ODiOS6iOe0hOOBq+mWouOBmeOCi+OBiuWVj+OBhOWQiOOCj+OBm+WFiO+8muS9kOa4oeaxveiIueS6iOe0hOOCu+ODs+OCv+ODvCZuYnNwOyZuYnNwO1RFTDowMjUtMjQ1LTYxMjIoMDg6MzAtMTg6MDApZAITDxYCHwEFBiZuYnNwO2QCFQ8WAh8BBTpDb3B5cmlnaHQgKEMpIFNhZG8gU3RlYW0gU2hpcCBDTy4sTFRELkFsbCBSaWdodHMgUmVzZXJ2ZWQuZGTlf4zKf5O4B2hI79JO7TmN4nHSS7BmofXyrtOnklB9Uw=="> </div>
    <div> <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="FC212254"> <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAf9DqA+FvhVtSwMg31O6kX8NRvSX+2Ui4jxOBenJ/BwUMK41+mi089hB8IB+C8HtbaO5edG/nbbeaWcVZ8RsXdsvf5Uw52sTJN/H34rf3laCjuORoOdHIVwYpcLwZDxLjiwBvPa9WUMwTJLrC5d6a0feJF+FKg1K0PejdfZzTeKJVNBEDKsqaMmlCl7R9JDcLQ="> </div>
    <div class="PageHeader">
      <table class="HeaderTitleArea">
        <tbody>
          <tr>
            <td style="padding-left:28px;"> <img id="ctl00_imgLogo" src="https://reservation.sadokisen.co.jp/webyoyaku/image/logo.gif" alt="佐渡汽船ロゴイメージ" style="border-width:0px;"> </td>
            <td align="right">
              <!-- 表示言語選択 -->
            </td>
          </tr>
          <tr>
            <td class="SiteTitle"> <span id="ctl00_lblPageTitle">インターネット予約</span> </td>
          </tr>
        </tbody>
      </table>
      <table id="ctl00_tblLoginUser" class="LoginUser" border="0">
        <tbody>
          <tr>
            <td id="ctl00_tcLoginNm"><span id="ctl00_lblLogin">ログイン</span><span id="ctl00_lblLoginName">/白井 翔大</span><span id="ctl00_lblKeisho">様</span></td>
          </tr>
        </tbody>
      </table>
      <div class="ApplicationName"> <span id="ctl00_lblApplicationName">会員メニュー</span> </div>
    </div>
    <div class="PageBody">
      <!-- エラーメッセージ表示エリア -->
      <!-- 情報メッセージ表示エリア -->
      <!-- コンテンツエリア -->
      <div id="divMenuTitle" class="TitleArea"> <img id="ctl00_ContentPlaceHolder1_imgMenuIcon" class="TitleIcon" src="https://reservation.sadokisen.co.jp/webyoyaku/image/icon_human.png" alt="human" style="border-width:0px;"> <span id="ctl00_ContentPlaceHolder1_lblMenuNote" class="TitleLabel">以下のメニューから選択して下さい。</span> </div>
      <div class="KaiinMenuTable">
        <div class="KaiinMenuButtonArea"> <input type="submit" name="ctl00$ContentPlaceHolder1$lkbWMG0040" value="会員情報の確認・変更" id="ctl00_ContentPlaceHolder1_lkbWMG0040" class="Button ButtonSkeletonBlue"> <span id="ctl00_ContentPlaceHolder1_lblWMG0040">お客様が登録された会員情報、車両情報を確認・変更します。</span> </div>
        <div class="KaiinMenuCenteMarginUp"> </div>
        <div class="KaiinMenuButtonArea"> <input type="submit" name="ctl00$ContentPlaceHolder1$lkbWMG0070" value="パスワードの変更" id="ctl00_ContentPlaceHolder1_lkbWMG0070" class="Button ButtonSkeletonBlue"> <span id="ctl00_ContentPlaceHolder1_lblWMG0070">パスワードを変更します。</span> </div>
      </div>
      <div class="KaiinMenuTable">
        <div class="JosenRirekiButtonArea"> <input type="submit" name="ctl00$ContentPlaceHolder1$lkbWMG0080" value="乗船履歴" id="ctl00_ContentPlaceHolder1_lkbWMG0080" class="Button ButtonSkeletonBlue"> <span id="ctl00_ContentPlaceHolder1_lblWMG0080">お客様の佐渡汽船ご利用履歴を確認します。</span> </div>
        <div class="KaiinMenuCenteMarginDown"> </div>
        <div class="KaiinMenuButtonArea"> <input type="submit" name="ctl00$ContentPlaceHolder1$lkbWMG0090" value="退会手続き" id="ctl00_ContentPlaceHolder1_lkbWMG0090" class="Button ButtonSkeletonBlue"> <span id="ctl00_ContentPlaceHolder1_lblWMG0090">佐渡汽船会員の退会手続きをします。</span> </div>
      </div>
      <div class="YoyakuButtonArea"> <input type="submit" name="ctl00$ContentPlaceHolder1$btnYoyaku" value="インターネット予約メニューへ" id="ctl00_ContentPlaceHolder1_btnYoyaku" class="Button ButtonBlue"> </div>
    </div>
    <div class="PageFooter"> <br>
      <font color="red">&nbsp;</font> <br> </div> <input type="hidden" name="ctl00$hidRegional" id="ctl00_hidRegional" value="ja-JP"> </form>
  <script type="text/javascript">
    //<![CDATA[
    	readystate = true;
    //]]>
  </script>
</body>