<head id="ctl00_head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico">
<link rel="icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico">
<!-- Google Tag Manager -->
<script async="" src="https://b92.yahoo.co.jp/search/?p=RUFU1KWF6H&amp;label=&amp;ref=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;rref=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0060.aspx&amp;pt=&amp;item=&amp;cat=&amp;price=&amp;quantity=&amp;r=1646112502.56972&amp;pvid=p3bxxv1q2zl07ovrjl&amp;tsyjad=1644975377&amp;_impl=ytag"></script>
<script type="text/javascript" src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
<script type="text/javascript" src="https://penta.a.one.impact-ad.jp/combo?oid=ca9df47f463c4753&amp;dd_rft=k&amp;dd_jsonp=a1tracker.cb._10&amp;fu=d48826e4-4276-4ef2-8fb1-f675d0c21a8f&amp;src=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;ref=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0060.aspx&amp;l=ja&amp;sr=1920x1080&amp;vp=1233x1001&amp;cd=24-bit&amp;tgsrc=itm_a1common&amp;dt=%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8D%E3%83%83%E3%83%88%E4%BA%88%E7%B4%84%EF%BC%9A%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC%20%EF%BD%9E%E4%BD%90%E6%B8%A1%E6%B1%BD%E8%88%B9%EF%BD%9E" async=""></script>
<script type="text/javascript" src="//yjtag.yahoo.co.jp/tag?site=ggPjk4U&amp;referrer=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;docReferrer=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0060.aspx&amp;H=1syaozf"></script>
<script async="">window.a1tracker&&a1tracker.ready(function(tracker){var doh="ca9df47f463c4753";if(!doh)return;var params={"event":"","url":"","referrer":"","metakeywords":"","callback":""};if(params.url)tracker.setParams(doh,"url",encodeURIComponent(params.url));if(params.referrer)tracker.setParams(doh,"referrer",encodeURIComponent(params.referrer));if(params.metakeywords){var mk=tracker.getParams(doh,"metakeywords");Array.prototype.push.apply(mk,params.metakeywords.split(","));tracker.setParams(doh,"metakeywords",mk)}tracker.setParams(doh,"tagsource","itm_a1common");var callback=params.callback&&typeof window[params.callback]==="function"?function(err,data){if(!err&&data.segments.length>0)window[params.callback](data.segments);return}:function(){};if(params.event)tracker.send(doh,params.event.split(","),callback);else tracker.send(doh,callback)});</script><script async="" src="//img.ak.impact-ad.jp/ut/a1/tracking.min.js"></script>
<script async="" src="//cdn.smartnews-ads.com/i/pixel.js"></script>
<script async="" src="https://d.line-scdn.net/n/line_tag/public/release/v1/lt.js"></script><script src="https://connect.facebook.net/signals/config/599082017180994?v=2.9.52&amp;r=stable" async=""></script>
<script src="https://connect.facebook.net/signals/config/1513150905396180?v=2.9.52&amp;r=stable" async=""></script>
<script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
<script type="text/javascript" async="" src="https://static.ads-twitter.com/uwt.js"></script>
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
<script async="" src="//s.yjtag.jp/tag.js#site=ggPjk4U"></script>
<script async="" src="//img.ak.impact-ad.jp/ut/ca9df47f463c4753_2582.js"></script>
<script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5J5QL3"></script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5J5QL3');</script>
<!-- End Google Tag Manager -->
<link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wj/wjg0000.css" type="text/css">
<link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/controls/josenYoyakuProgress.css" type="text/css">
    <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/commonWJ.js?ver=20170703"></script>
    <title>
	インターネット予約：メニュー ～佐渡汽船～
</title>
    <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wj/wjg0020.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(function(){
        history.pushState(null, null, null);
        $(window).on("popstate", function(){
            history.pushState(null, null, null);
        });
    });
    </script>
<link type="text/css" href="https://reservation.sadokisen.co.jp/webyoyaku/css/jquery/jquery.ui.all.css" rel="stylesheet">
<script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/ui/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/ui/i18n/jquery.ui.datepicker-ja.js"></script>
<script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/wy/WYG0020.js"></script>
<script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/937261802/?random=1646112501697&amp;cv=9&amp;fst=1646112501697&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1920&amp;u_cd=24&amp;u_his=50&amp;u_tz=540&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;gtm=2wg2s0&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;ref=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0060.aspx&amp;tiba=%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8D%E3%83%83%E3%83%88%E4%BA%88%E7%B4%84%EF%BC%9A%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC%20%EF%BD%9E%E4%BD%90%E6%B8%A1%E6%B1%BD%E8%88%B9%EF%BD%9E&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
<script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/936541782/?random=1646112501699&amp;cv=9&amp;fst=1646112501699&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1920&amp;u_cd=24&amp;u_his=50&amp;u_tz=540&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;gtm=2wg2s0&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;ref=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0060.aspx&amp;tiba=%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8D%E3%83%83%E3%83%88%E4%BA%88%E7%B4%84%EF%BC%9A%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC%20%EF%BD%9E%E4%BD%90%E6%B8%A1%E6%B1%BD%E8%88%B9%EF%BD%9E&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
<script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/847210470/?random=1646112501700&amp;cv=9&amp;fst=1646112501700&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1920&amp;u_cd=24&amp;u_his=50&amp;u_tz=540&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;gtm=2wg2s0&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;ref=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0060.aspx&amp;tiba=%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8D%E3%83%83%E3%83%88%E4%BA%88%E7%B4%84%EF%BC%9A%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC%20%EF%BD%9E%E4%BD%90%E6%B8%A1%E6%B1%BD%E8%88%B9%EF%BD%9E&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
</head>
<body id="ctl00_JosenYoyaku" class="JosenYoyaku">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J5QL3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    
    <form name="aspnetForm" method="post" action="https://reservation.sadokisen.co.jp/webyoyaku/WJ/WJG0020.aspx" id="aspnetForm" class="FontNotoSans">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJOTI2OTY4OTgwD2QWAmYPD2QWCB4OU2VydmljZU1lc3NhZ2VlHglIZWFkZXJLYm5lHgtIZWFkZXJUaXRsZQUM44Oh44OL44Ol44O8HgdNZW51TWVpBSfjgqTjg7Pjgr/jg7zjg43jg4Pjg4jkuojntITjg6Hjg4vjg6Xjg7wWBAIBD2QWAgIGDxYCHgRUZXh0BakDPCEtLSBHb29nbGUgVGFnIE1hbmFnZXIgLS0+DQo8c2NyaXB0PihmdW5jdGlvbih3LGQscyxsLGkpe3dbbF09d1tsXXx8W107d1tsXS5wdXNoKHsnZ3RtLnN0YXJ0JzoNCm5ldyBEYXRlKCkuZ2V0VGltZSgpLGV2ZW50OidndG0uanMnfSk7dmFyIGY9ZC5nZXRFbGVtZW50c0J5VGFnTmFtZShzKVswXSwNCmo9ZC5jcmVhdGVFbGVtZW50KHMpLGRsPWwhPSdkYXRhTGF5ZXInPycmbD0nK2w6Jyc7ai5hc3luYz10cnVlO2ouc3JjPQ0KJ2h0dHBzOi8vd3d3Lmdvb2dsZXRhZ21hbmFnZXIuY29tL2d0bS5qcz9pZD0nK2krZGw7Zi5wYXJlbnROb2RlLmluc2VydEJlZm9yZShqLGYpOw0KfSkod2luZG93LGRvY3VtZW50LCdzY3JpcHQnLCdkYXRhTGF5ZXInLCdHVE0tNUo1UUwzJyk7PC9zY3JpcHQ+DQo8IS0tIEVuZCBHb29nbGUgVGFnIE1hbmFnZXIgLS0+DQpkAgMPZBYGAgEPFgIfBAX2ATwhLS0gR29vZ2xlIFRhZyBNYW5hZ2VyIChub3NjcmlwdCkgLS0+DQo8bm9zY3JpcHQ+PGlmcmFtZSBzcmM9Imh0dHBzOi8vd3d3Lmdvb2dsZXRhZ21hbmFnZXIuY29tL25zLmh0bWw/aWQ9R1RNLTVKNVFMMyINCmhlaWdodD0iMCIgd2lkdGg9IjAiIHN0eWxlPSJkaXNwbGF5Om5vbmU7dmlzaWJpbGl0eTpoaWRkZW4iPjwvaWZyYW1lPjwvbm9zY3JpcHQ+DQo8IS0tIEVuZCBHb29nbGUgVGFnIE1hbmFnZXIgKG5vc2NyaXB0KSAtLT4NCmQCBQ9kFgwCAQ9kFgYCAQ8PFgIeC05hdmlnYXRlVXJsBQxXSkcwMDIwLmFzcHhkZAIFDw8WAh8EZWRkAgkPDxYCHgdWaXNpYmxlaGQWAmYPZBYCAgEPZBYCZg8QZGQWAGQCAw9kFgQCAw8PFgIfBAURL+eZveS6lSDnv5TlpKfmp5hkZAIJDw8WAh8EBSfjgqTjg7Pjgr/jg7zjg43jg4Pjg4jkuojntITjg6Hjg4vjg6Xjg7xkZAIFD2QWBgIBD2QWAgIBDw8WAh4NT25DbGllbnRDbGljawVyaWYoY29uZmlybSgn44Ot44Kw44Ki44Km44OI44GX44G+44GZ44CC44KI44KN44GX44GE44Gn44GZ44GL77yfJykpe3JldHVybiB0cnVlO31lbHNle3JlYWR5c3RhdGU9dHJ1ZTtyZXR1cm4gZmFsc2V9ZGQCCw88KwARAgEQFgAWABYADBQrAABkAg0PFgIfBmgWAgIBDxYCHwRlZAIHDw8WAh8EBYYB44Kk44Oz44K/44O844ON44OD44OI5LqI57SE44Gr6Zai44GZ44KL44GK5ZWP44GE5ZCI44KP44Gb5YWI77ya5L2Q5rih5rG96Ii55LqI57SE44K744Oz44K/44O8Jm5ic3A7Jm5ic3A7VEVMOjAyNS0yNDUtNjEyMigwODozMC0xODowMClkZAIJDxYCHwQFBiZuYnNwO2QCCw8PFgIfBAU6Q29weXJpZ2h0IChDKSBTYWRvIFN0ZWFtIFNoaXAgQ08uLExURC5BbGwgUmlnaHRzIFJlc2VydmVkLmRkAgcPFgIfBAXCBjxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0Ij4oZnVuY3Rpb24oZCx1KXt2YXIgYj1kLmdldEVsZW1lbnRzQnlUYWdOYW1lKCJzY3JpcHQiKVswXSxqPWQuY3JlYXRlRWxlbWVudCgic2NyaXB0Iik7ai5hc3luYz10cnVlO2ouc3JjPXU7Yi5wYXJlbnROb2RlLmluc2VydEJlZm9yZShqLGIpO30pKGRvY3VtZW50LCIvL2ltZy5hay5pbXBhY3QtYWQuanAvdXQvY2E5ZGY0N2Y0NjNjNDc1M18yNTgyLmpzIik7PC9zY3JpcHQ+PG5vc2NyaXB0PjxpZnJhbWUgc3JjPSIvL25zcHQudW5pdGFnLmpwL2NhOWRmNDdmNDYzYzQ3NTNfMjU4Mi5waHAiIHdpZHRoPSIwIiBoZWlnaHQ9IjAiIGZyYW1lYm9yZGVyPSIwIj48L2lmcmFtZT48L25vc2NyaXB0Pg0KPHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPg0KICAoZnVuY3Rpb24gKCkgew0KICAgIHZhciB0YWdqcyA9IGRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoInNjcmlwdCIpOw0KICAgIHZhciBzID0gZG9jdW1lbnQuZ2V0RWxlbWVudHNCeVRhZ05hbWUoInNjcmlwdCIpWzBdOw0KICAgIHRhZ2pzLmFzeW5jID0gdHJ1ZTsNCiAgICB0YWdqcy5zcmMgPSAiLy9zLnlqdGFnLmpwL3RhZy5qcyNzaXRlPWdnUGprNFUiOw0KICAgIHMucGFyZW50Tm9kZS5pbnNlcnRCZWZvcmUodGFnanMsIHMpOw0KICB9KCkpOw0KPC9zY3JpcHQ+DQo8bm9zY3JpcHQ+DQogIDxpZnJhbWUgc3JjPSIvL2IueWp0YWcuanAvaWZyYW1lP2M9Z2dQams0VSIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZnJhbWVib3JkZXI9IjAiIHNjcm9sbGluZz0ibm8iIG1hcmdpbmhlaWdodD0iMCIgbWFyZ2lud2lkdGg9IjAiPjwvaWZyYW1lPg0KPC9ub3NjcmlwdD4NCmQYAQUsY3RsMDAkV2ViQ29udGVudFBsYWNlSG9sZGVyJGdyZFlveWFrdUljaGlyYW4PZ2RRjFkwJKTbm/dtNgIF+gg4zwQ1g6jfO4Fr3e3Qeu0WnQ==">
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/webyoyaku/WebResource.axd?d=tzGRY5LqxaqJh3lBjWak3kDY_QcAxzlYgLSvvutlBIbbpAR-y_6jqWAnu5sTjzzlcpeWc9is-q-Zp4LgfLYa1EwUX1-R54BAHXNlxvrp1b01&amp;t=636777048783889403" type="text/javascript"></script>


<script src="/webyoyaku/ScriptResource.axd?d=vG0PG_JwTvYE6LY45VDpVWuh0YvKHvjbsWnRJAGqG-ul4Lewwmc7PVINjXvHMEuet2e_xvHwURgyJsa1pnl8gFbzMqDGxyUFgHtUDutLfYBQio3Le1_XQX907f2S_eirSPbbR9RWkJIzlW64pbqK9PXe6YASNxlGS4nBPEDNOtVuOCTEYrwTeNHKbzRoqfkf0&amp;t=ffffffff999c3159" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax クライアント側フレームワークを読み込めませんでした。');
//]]>
</script>

<script src="/webyoyaku/ScriptResource.axd?d=IY7bglxz1482gls7PvRe99iBpEC9sygLuKXFvssS9Wt7xCKv9KLgj81f6VNMKVEqHg3ygIVcQffKtUaSO8G69ME1vj8mIDt_tBV1SjLCsy_CInXJad-C4rwgqfNY6QrrC2fIXrySEZ0OTmMnqFB1Znnte_uWApIw0dviRtXQKpD8H1t9ko0udZBszsdNchwK0&amp;t=ffffffff999c3159" type="text/javascript"></script>
<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="12453205">
</div>

        <div id="ctl00_divPageTitleArea" class="PageTitleArea">
            <div style="display:table;">
                <div style="display:table-cell;">
                    <div id="divSadoKisenIcon" class="SadoKisenIcon">
                        <a id="ctl00_lnkTop" href="WJG0020.aspx">
                            <img alt="佐渡汽船Top" src="https://reservation.sadokisen.co.jp/webyoyaku/image/logo.gif" title="佐渡汽船Top">
                        </a>
                    </div>

                    <div id="divPageTitle" class="PageTitle">
                        <span id="ctl00_lblPageTitle">インターネット予約</span>
                    </div>
                </div>

                <div id="divServiceMessage" class="ServiceMessage">
                    <span id="ctl00_lblServiceMessage" class="Warning"></span>
                    <a href="#"><script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', [], [], [], 90, 'ctl00');
//]]>
</script>
</a>
                </div>
            </div>
            <div id="divTitleAreaRight" class="TitleAreaRight">
                <div id="divLanguageChange">    
                    
                </div>
            </div>

        </div>


        <div id="ctl00_divPageOverview" class="PageOverview">
            <div id="divLoginUser" class="LoginUser">
                <span id="ctl00_lblLogin">ログイン</span>
                <span id="ctl00_lblLoginUser">/白井 翔大様</span>
            </div>
            
            <div id="divHayatokuTitle" class="HayatokuTitle">
                
            </div>
            
            <div id="divProgresArea" class="ProgressFrame">
                
    

            </div>

            <div id="divMenuMei" class="MenuMei">
                <span id="ctl00_lblMenuMei">インターネット予約メニュー</span>
            </div>
            
        </div>


        <div id="divMain" class="MainContentArea">
            <div id="divWebContentPlaceHolder">
                

 
    <div id="ctl00_WebContentPlaceHolder_divbtnLogoutFrame" class="Logout fontHiragino">
        <input type="submit" name="ctl00$WebContentPlaceHolder$btnLogout" value="ログアウト" onclick="if(confirm('ログアウトします。よろしいですか？')){return true;}else{readystate=true;return false};" id="ctl00_WebContentPlaceHolder_btnLogout" title="インターネット予約を終了し、ログインページに戻ります。" class="Button">
    </div>
    
    <div id="divYoyakuMenu" class="YoyakuMenu fontHiragino">
        <div id="ctl00_WebContentPlaceHolder_divbtnYoyakuCell">
                <input type="submit" name="ctl00$WebContentPlaceHolder$btnYoyaku" value="新しく予約する" id="ctl00_WebContentPlaceHolder_btnYoyaku" title="カーフェリー、ジェットフォイルの乗船、車両航送のご予約を承ります。" class="ButtonBlue AddYoyakuButton LargeButtonText">
        </div>
        <div id="ctl00_WebContentPlaceHolder_divbtnKaiinCell">
                <input type="submit" name="ctl00$WebContentPlaceHolder$btnKaiin" value="会員情報変更" id="ctl00_WebContentPlaceHolder_btnKaiin" title="ご登録いただいている会員情報を変更できます。退会手続きもこちらで承ります。" class="ButtonSkeletonBlue LargeButtonText">
        </div>
    </div>


    <div class="Message">
        <span id="ctl00_WebContentPlaceHolder_lblMsg">現在ご予約を承っておりません。上記「新しく予約する」ボタンより新規にご予約いただけます。</span>
    </div>
    <div id="ctl00_WebContentPlaceHolder_divPlan" style="font-size:12px; color:#5D5D5D; margin-top:42px;">
        ・ご乗船当日の変更・取消は出来ません。　また、19時以降は翌日ご乗船分の変更・取消は出来ません。
        <br>
        
        
        
        <div id="ctl00_WebContentPlaceHolder_divSTicketAnnai">
            <div id="ctl00_WebContentPlaceHolder_divMenuSTicketAnnai">
                ・Ｓチケット発券がご利用できない場合、発券窓口または予約センターまでお問い合わせください。
            </div>
            <div id="ctl00_WebContentPlaceHolder_divMenuRyosyusyoAnnai">
                ・Ｓチケットの領収書・クレジット利用明細は行き（往路）乗船日より３カ月間ご確認いただけます。
            </div>
        </div>
    </div>


    <div>

</div>
    
    <input type="hidden" name="ctl00$WebContentPlaceHolder$hidUketsukeBango" id="ctl00_WebContentPlaceHolder_hidUketsukeBango">

    <div id="ctl00_WebContentPlaceHolder_pnlFooterBlank" class="FooterBlank">
        <br>
    </div>

            </div>
        </div>



        <div class="PageFooter fontHiragino">
            <span id="ctl00_lblSadoSteamShipContact"></span><br>
            <span style="color:red;">&nbsp;</span>
            <br>
            <span id="ctl00_lblCopyright">
            </span>
		    <input type="hidden" name="ctl00$hidid" id="ctl00_hidid" value="01">
	    </div>

    </form>
    <div id="divUtil"></div>
    <script type="text/javascript">
    //<![CDATA[
        readystate = true;
    //]]>
    </script>
    <script type="text/javascript">(function(d,u){var b=d.getElementsByTagName("script")[0],j=d.createElement("script");j.async=true;j.src=u;b.parentNode.insertBefore(j,b);})(document,"//img.ak.impact-ad.jp/ut/ca9df47f463c4753_2582.js");</script><noscript><iframe src="//nspt.unitag.jp/ca9df47f463c4753_2582.php" width="0" height="0" frameborder="0"></iframe></noscript>
<script type="text/javascript">
  (function () {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    tagjs.src = "//s.yjtag.jp/tag.js#site=ggPjk4U";
    s.parentNode.insertBefore(tagjs, s);
  }());
</script>

<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","1513150905396180");fbq("track","PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1513150905396180&amp;ev=PageView&amp;noscript=1"></noscript>




<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","599082017180994");fbq("set","agent","tmgoogletagmanager","599082017180994");fbq("track","PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=599082017180994&amp;ev=PageView&amp;noscript=1"></noscript>


<script type="text/javascript" id="">(function(a,b,d){a._ltq=a._ltq||[];a._lt=a._lt||function(){a._ltq.push(arguments)};var e="https:"===location.protocol?"https://d.line-scdn.net":"http://d.line-cdn.net",c=b.createElement("script");c.async=1;c.src=d||e+"/n/line_tag/public/release/v1/lt.js";b=b.getElementsByTagName("script")[0];b.parentNode.insertBefore(c,b)})(window,document);_lt("init",{customerType:"lap",tagId:"6af580cb-8c8c-4bd7-8828-a2d4f1fa22fe"});_lt("send","pv",["6af580cb-8c8c-4bd7-8828-a2d4f1fa22fe"]);</script>
<noscript>
  <img height="1" width="1" style="display:none" src="https://tr.line.me/tag.gif?c_t=lap&amp;t_id=6af580cb-8c8c-4bd7-8828-a2d4f1fa22fe&amp;e=pv&amp;noscript=1">
</noscript>

<noscript>
  <iframe src="//b.yjtag.jp/iframe?c=ggPjk4U" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>



<div style="display: none; visibility: hidden;">
<script type="text/javascript">!function(){if(window.SmartnewsAds=window.SmartnewsAds||{},!window.SmartnewsAds.p){var a=window.SmartnewsAds.p=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)};window.SmartnewsAds._p||(window.SmartnewsAds._p=a);a.push=a;a.version="1.0.0";a.queue=[];var b=document.createElement("script");b.async=!0;b.src="//cdn.smartnews-ads.com/i/pixel.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}}();SmartnewsAds.p("ab489a5d7be6da27681790d5","PageView");</script>
<noscript></noscript>
</div><div id="itm_2582" style="visibility: hidden; display: none;"></div><script src="https://analytics.twitter.com/i/adsct?type=javascript&amp;version=2.0.4&amp;p_id=Twitter&amp;p_user_id=0&amp;txn_id=o24a6&amp;events=%5B%5B%22pageview%22%2Cnull%5D%5D&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;event_id=cef0cdd9-d20a-4d8e-bbea-91a3665ce9f8&amp;tw_document_href=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;tpx_cb=twttr.conversion.loadPixels" type="text/javascript"></script><img src="//aw.dw.impact-ad.jp/ut/rep?u=2582&amp;v=2&amp;r=https%3A%2F%2Freservation.sadokisen.co.jp%2Fwebyoyaku%2FWJ%2FWJG0020.aspx&amp;t=381" style="display: none;"></body></html>